
            <div class="top-wrap">
                <a href="/admin/">管理首页</a>
                <a href="/admin/banners">banner设置</a>
                <a href="/admin/blog">blog设置</a>
                <a href="/admin/contact">联系方式设置</a>
                <a href="/admin/custom">用户评价设置</a>
                <a href="/admin/intro">产品介绍设置</a>
                <a href="/admin/msg">留言管理设置</a>
                <a href="/admin/news">新闻设置</a>
            </div>