html {
	height:100%;
    font-family: "FangSong";
    font-weight: lighter;
    display: block;
}

body{
	max-width: 579.75px;
	width:100%;
	height: 100%;
    margin: 0 auto ;
    /*background-color: #ccc;*/
}

.section{
	background-color: #ffffff;
	background-image: url('../img/bg.png');
	background-size: 100% 100%;
	position:relative;
}

/*loading页面*/
#loading{
	display:inline-block;
	width:100%;
    max-width: 579.75px;
	height:100%;
	background:#ffffff;
	position: fixed;
	z-index: 1002;
}
#loading .tuye{
	position:absolute;
	left:20%;
	top:34%;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.center{	
	position:absolute;
	top:0%;
	left:0;
	right:0;
	margin:0 auto;
}
/*p5*/
.fifth .five_title{
	position:absolute;
	width:37.5%;
	top:4.5%;
	left:-6.5%;
}
.fifth .left{
	position:absolute;
	left:9.5%;
}
.fifth .right{
	position: absolute;
	right: 9.5%;
}
.fifth .five_per1{
	width:72.3%;
	top:12%;
}
.fifth .five_per2{
	width:55.3%;
	top:26%;
}
.fifth .five_per3{
	width:74%;
	top:39.5%;
}
.fifth .five_per4{
	width:78%;
	top:53%;
}
.fifth .five_per5{
	width:76.7%;
	top:68%;
}
.fifth .five_per6{
	width:60%;
	top:82%;
}
/*p6*/
.sixth .six_title{
	position:absolute;
	width:43.3%;
	top:7.2%;
	left:-6.1%;
}
.sixth .left{
	position:absolute;
	left:9.5%;
}
.sixth .right{
	position: absolute;
	right: 9.5%;
}
.sixth .six_per1{
	width:76.8%;
	top:17.5%;
}
.sixth .six_per2{
	width:75.3%;
	top:32%;
}
.sixth .six_per3{
	width:70.4%;
	top:46%;
}
.sixth .six_per4{
	width:42%;
	top:61%;
}
/*p7*/
.seventh .center{
	width:72%;
}
.seventh .seven_title1{
	top:8.5%;
}
.seventh .seven_title2{
	top:66.4%;
}
.seventh .seven_title3{
	top:76.6%;
}
.seventh .seven_contentleft{
	position:absolute;
	top:13.5%;
	left:21.5%;
	width:19%;
}
.seventh .seven_contentright{
	position:absolute;
	top:13.5%;
	left:61%;
	width:19%;
}
.seventh .seven_contentdown{
	position:absolute;
	top:53.5%;
	left:11.3%;
	width:81%;
}
.seventh .seven_content2{
	position:absolute;
	top:71.6%;
	left:44%;
	width:11.7%;
}
.seventh .seven_content3{
	position:absolute;
	top:81.8%;
	left:36%;
	width:28.7%;
}
/*p8*/
.eighth .line{
	position:absolute;
	width:2.1%;
	left:19.7%;
}
.eighth .line_t{
	position:absolute;
	left:28%;
}
.eighth .eight_title{
	position:absolute;
	top:5.8%;
	left:24.8%;
	width:49%;
}
.eighth .eight_line0{
	top:17.3%;
}
.eighth .eight_line_t0{
	top:22%;
	width:33%;
}
.eighth .eight_line1{
	top:25.3%;
}
.eighth .eight_line_t1{
	top:31.3%;
	width:59%;
}
.eighth .eight_line2{
	top:34.7%;
}
.eighth .eight_line_t2{
	top:41.3%;
	width:45.8%;
}
.eighth .eight_line3{
	top:44.8%;
}
.eighth .eight_line_t3{
	top:55.2%;
	width:54.3%;
}
.eighth .eight_line4{
	top:58.7%;
}
.eighth .eight_line_t4{
	top:66%;	
	width:54.3%;
}
.eighth .eight_line5{
	top:71%;
}
.eighth .eight_line_t5{
	top:76.5%;
	width:54.3%;
}
.eighth .eight_line6{
	top:80%;
}
.eighth .eight_line_t6{
	top:85.2%;
	width:20%;
}
/*p9*/
.ninth .nin_title{
	position:absolute;
	width:24%;
	top:11%;
	left:-6%;
}
.ninth .nin_feiji{
	position:absolute;
	width:24%;
	top:12%;
	right:19.2%;
}
.ninth .nin_bjdl{
	position:absolute;
	width:66%;
	top:22.7%;
}
.ninth .nin_time{
	position:absolute;
	width:70.6%;
	top:32%;
}
.ninth .nin_zb{
	position:absolute;
	width:64.8%;
	top:44.5%;
}
.ninth .nin_text{
	position:absolute;
	width:77.6%;
	top:63%;
}

/*p10*/
.tenth .ten_title{
	width:72%;
	position:absolute;
	top:9.5%;
	left:0;
	right:0;
	margin:0 auto;
}
.tenth .ten_title img{
	width:100%;
}
.tenth .ten_ewm{
	position:absolute;
	top:18.5%;
}
.tenth .ten_ewm img:nth-child(1){
	width:30%;
	margin-left:20%;
}
.tenth .ten_ewm img:nth-child(2){
	width:28%;
	margin:0 0 10% 2%;
}
.tenth .ten_qhgx{
	width:30%;
	position:absolute;
	top:44%;
	left:0;
	right:0;
	margin:0 auto;
}
.tenth .ten_qhgx img:nth-child(1){
	width:39%;
	position:absolute;
	top:-35%;
	left:-33%;
}
.tenth .ten_qhgx img:nth-child(2){
	width:30%;
}
.tenth .ten_qhgx img:nth-child(3){
	width:16%;
    margin: 13% 0 0 2%;
} 
.tenth .ten_qhgx img:nth-child(4){
	width:27%;
    margin: 5% 0 0 1%;
}
.tenth .ten_qhgx img:nth-child(5){
	width:12%;
    margin: 10% 0 0 3%;
}
.tenth .ten_bjdl{
	position:absolute;
	top:56.4%;
	text-align: center;
}
.tenth .ten_bjdl img:nth-child(1){
	width:66%;
}
.tenth .ten_bjdl img:nth-child(2){
	margin-top:8%;
	width:41%;
}
.ten_btn{
	width:100%;
	position:absolute;
	top:75%;
	text-align: center;
}
.tenth .ten_btn img:nth-child(1){
	width:45%;
}



.section{
	background-image: url('../img/bg.png');
	background-size: 100% 100%;
}



.section:last-child img{
	position: static;
}
.ninth{
	background-image: url('../img/bg9.png');
	background-size: 100% 100%;
	position:relative;
}
.sixth{
	background-image: url('../img/bg6.png');
	background-size: 100% 100%;
	position:relative;
}

.section img{
	position: absolute;
}
._center{
	left: 0;
	right: 0;
	bottom:0;
	margin: 0 auto;
}
/*第一屏*/
.section:first-child{
	z-index: 14;
	background-color: #F6FBFD;
	background-image: none;
}
.second img{
	display: inline-block;
}

.cover img._2017{
	width: 15.73%;
	top: 8.5%;
	left: 25.73%;
}
.cover img._qhgx{
	width: 21.87%;
	top: 10.5%;
	left: 39.07%;
}
.cover img._yqh{
	width: 13.47%;
	top: 27.58%;
	right: 29.33%;
}
.cover img._ds{
	width: 3.6%;
	top: 42.4%;
	right: 43.2%;
}
.cover img._bjdl{
	width: 3.6%;
	top: 48.75%;
	right: 37.6%;
}
.cover img._yc{
	width: 99.2%;
	top: 0%;
}
.cover img._bg{
	width: 99.73%;
	top: 47.58%;
}
.cover img._cl{
	width: 100%;
	bottom: 0;
}
.cover img._man{
	width: 29.87%;
	bottom: 6.5%;
	right: 6.5%;
}
.cover img._qllogo{
	width: 20.53%;
	bottom: 1.4%;
	left: 27.47%;
}
.cover img._tylogo{
	width: 27.33%;
	bottom: 1.6%;
	right: 22.67%;
}
.cover .first_feiji{
	width: 26%;
	top: 20.6%;
	left: 16.3%;
}
/*第二 三屏*/

.second img._left{
	width: 2.13%;
	top: 27.31%;
	left: 13.6%;
}
.second img._right{
	width: 2.13%;
	bottom: 23.53%;
	left: 83.76%;
}
.section:nth-child(2){
	z-index: 13;
	background-image: url(../img/bg2.png);
	background-size: 100% 100%;
}
.section:nth-child(3){
	z-index: 12;
	background-image: url(../img/bg3.png);
	background-size: 100% 100%;
}

.second img._jieshao,.third img._jintujiang{
	width: 32.13%;
	top: 6%;
}
.second img._1{
	width: 69.47%;
	top: 27.56%;
}
.second img._2{
	width: 69.86%;
	top: 56.89%;
}
/*第三屏*/
.third img._donghuazu{
	width: 13.73%;
	top: 27%;
}
.third img._2{
	width: 69.86%;
	top: 50.7%;
}
.third img._donghua{
	width: 79.33%;
	top: 31%;
}
.third img._manhuazu{
	width: 13.73%;
	top: 36.5%;
}
.third img._manhua{
	width: 79.47%;
	top: 40.5%;
}
.third img._left{
	width: 2.13%;
	top: 48.57%;
	left: 13.6%;
}
.third img._right{
	width: 2.13%;
	bottom: 19.6%;
	left: 83.76%;
}

/*第四屏*/
.section:nth-child(4){
	z-index: 11;
}
._title{
	width: 71.47%;
}
.fourth img.zhidaodanwei{
	top: 3.1%;
}
.fourth img._0{
	width: 46.13%;
	top: 8.1%;
}
.fourth img.zhubandanwei{
	top: 16.1%;
}
.fourth img._1{
	width: 37.5%;
	top: 20.36%;
}
.fourth img.zhichidanwei{
	top: 25%;
}
.fourth img._2{
	width: 49.73%;
	top: 30%;
}
.fourth img.xiebandanwei{
	top: 53.5%;
}
.fourth img._3{
	width: 63.73%;
	top: 57.8%;
}

/*弹框*/
.pop{
	max-width: 15rem;
	width:100%;
	/*height: 100%;*/
    margin: 0 auto ;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	text-align: center;
	position: absolute;
	z-index: 1001;
	background-color: #fff;
}
.pop ._bg{
	width: 15rem;
	/*height: 100%;*/
	height: 23.8rem;
	z-index: -1;
	top: 0;
	left: 0;
	bottom: 0;
	display: block;
}
.pop img,.pop input{
	position: absolute;
}
.pop img.pop_baoming{
	width: 9.92rem;
	display: inline-block;
	top: 1.4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.pop img._map{
	width: 10rem;
	top: 4.65rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 1px red solid;
}
.pop img._mingxie{
	width: 11.94rem;
	top: 10.6rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.pop input{
	width: 9.7rem;
	height: 1.68rem;
	line-height: 1.68rem;
	outline: none;
	border: 1px red solid;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	padding-left: .5rem;
	font-size: .64rem;
}
.pop input.name_ipt{
	top: 12.8rem;
}
.pop input.num_ipt{
	top: 15rem;
}
.pop ._btn{
	cursor: pointer;
	width: 6.8rem;
	height:1.46rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.pop img._submit{
	top: 17.5rem;
}
.pop img._back{
	top: 19.5rem;
}
.pop div.zhezhao{
	width: 15rem;
	height: 110%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 997;
	display: none;
}
.pop .box_xinfeng{
	display: none;
	position: absolute;
	width: 11.3rem;
	height: 10.34rem;
	top: 6.2rem;
	left: 0;
	right: 0;
	margin:0 auto;
	z-index: 998;
}
.pop ._xinfeng{
	width: 11.3rem;
	position: static;
	z-index: 999;
}
.pop ._success{
	width: 6.8rem;
	top: 5.5rem;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1000;
	cursor: pointer;
}
._music{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}







