<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="page">
            <%include components/top.inc.ejs%>
            <div class="content-wrap">
                我是管理首页
            </div>
        </div>
    </body>
</html>