<!DOCTYPE html>
<html lang="en">
    <head>
        <title>管理员登录</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div clas="login-dialog">
            <form action="/admin/login" method = 'post'>
                用户：<input type="text" name="username" value=""><br>
                密码：<input type="password" name="password" value=""><br>
                <input type='submit' value="登录"/>
            </form>
        </div>
    </body>
</html>