html {
   position: relative;
   font-family: '微软雅黑';
   height: 100%;
   overflow-x: hidden;
}
body{
   height: 100%;
   overflow-x: hidden;
}
.warp{
   width: 15rem;
   height:100%;
   margin: 0 auto;
   background-color: #EAEADD;
   overflow-x: hidden;
}
._top{
   width: 15rem;
   height: 13.34rem;
   position:relative;
   margin: -5.74rem auto .4rem;
}
._cp{
   width: 13.26rem;
   height: 13.34rem;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin:0 auto ;
   z-index: 2;
}
.xuanzhuan{
   animation: recordrotate 1.8s linear 0.5s infinite;
}
._ht{
   width: 5.1rem;
   height: 6.06rem;
   position: absolute;
   top: 6rem;
   right: 0rem;
   z-index: 3;
   display: block;
}
@keyframes recordrotate
{
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
    /*旋转*/
}
._center{
   width: .56rem;
   height: .56rem;
   position: absolute;
   top: 0.5rem;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   z-index: 4;
   display: inline-block;
}
._content{
   width: 13.34rem;
   height: 9.9rem;
   position: relative;
   margin: -0.5rem auto;
   text-align: center;
   background-color: #fff;
   padding-top: 0.5rem;
}
._content ._title{
   position: absolute;
   top: -.7rem;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 4;
   font-size: .64rem;
   color:#fff;
   margin: 0 auto 0;
   height:1.26rem;
   width: 10rem;
   line-height: 1.26rem;
   background-color: #4A6858;
   border-radius: 0.6rem;
}
._content ._text{
   letter-spacing:0.1rem;
   width: 12rem;
   height: 8.2rem;
   overflow-y: scroll;
   overflow-x: hidden;
   font-size: .56rem;
   color:#000;
   text-align:justify;
   line-height: 1rem;
   padding:  0.4rem;
   margin: auto;
}
._content ._tishi{
   letter-spacing:0.1rem;
   font-size: .52rem;
   width: 100%;
   line-height: 1rem;
   text-align: center;
   color: #fff;
   margin-top: .28rem;
   background-color: #4A6858;
}
.bottom_btns{
   margin:1.36rem auto .4rem;
}
.bottom_btns img{
   display: inline-block;
}
._djly{
   width: 3.72rem;
   height: 2.72rem;
   margin: 0 1.9rem  0 4.8rem;
}
._fanhui{
   width: 1.88rem;
   height: 2.74rem;
}
._zzly{
   width: 3.04rem;
   height: 2.84rem;
   margin: 0 1.42rem  0 1.76rem;
}
._wancheng{
   width: 1.88rem;
   height: 2.82rem;
   margin-right: 2.1rem;
}
._chonglu{
   width: 1.88rem;
   height: 2.82rem;
   margin-right: 2.4rem;
}
._baocun{
   width: 1.88rem;
   height:2.76rem ;
}
.time_jindu{
   padding:0 0.8rem;
   font-size: .52rem;
}
._time{
   width: 13.34rem;
   border: 1px solid #4A6858;
}
._time,._jindutiao{
   height: 0.28rem;
   border-radius: 5px;
}
._jindutiao{
   width: 13.38rem;
   background-color: #4A6858;
   margin:  -0.32rem 0 0.3rem;
}
._shiting{
   width: 1.88rem;
   height:2.82rem ;
   margin: 0 2.3rem  0 2.26rem;
}
._0{
   float: left;
}
._60{
   float: right;
}
.width_animation{
   width:0rem;
   transition:width 60s linear;
   -moz-transition:width 60s linear; /* Firefox 4 */
   -webkit-transition:width 60s linear; /* Safari and Chrome */
   -o-transition:width 60s linear; /* Opera */

}
@keyframes jindutiao
{
    0%   {width: 13.38}
    25%  {}
    50%  {}
    75% {}
    100% {}
    /*旋转*/
}
