<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
		<style>
			
		</style>
		<script src="./src/vue.js"></script>
		<script type="text/x-template" id="news-template">
			<div>
				<h2>{{title}}<span>X</span></h2>
				<list></list>
			</div>
		</script>
	</head>

	<body>

		<div id="app">
			<h1>这是父级的title:{{title}}</h1>
			<hr>
			<news :title.sync="title" v-model="title"></news>
			<input type="text" v-model="title" />
			<!--语法是以下解析-->
			<news :title.sync="title" :value="title" @input="(newValue)=>{title=newValue}"></news>
			<input type="text" :value="title" @input="(e)=>{title=e.target.value}" />
		</div>

		<script>
			
			/*
				组件某些数据可以双向绑定

				v-model 创建双向数据绑定
					作用表单元素上
						绑定在value checked
						监听oninput
					作用在组件上
						绑定在value
						监听 input

			*/

			Vue.component('news', {
				props:['title',"value"],

				template: `
					<div>
						<button @click="changeTitlte">测试书双向绑定</button>		
						<button @click="changeValue">测试书双向绑定</button>		
						<p>{{title}}</p>				
					</div>
				`,
				methods:{
					changeTitlte(){
						//this.title = 123;
						this.$emit('update:title',123)
						//this.$emit('update',123)
					},
					changeValue(){
						this.$emit('input',666666)
					}
				}
			})



			var vm = new Vue({
				data:{
					title: '父级中的标题'
				}
			})

			vm.$mount('#app');
		</script>
		
	</body>
</html>